@charset "utf-8";

body{
  background-color: gray;
}
header{
  background-color: orange;
}
footer{
  background-color: purple;
}
aside{
  background-color: blue;
}
.main1{
  background-color: green;
}
.main2{
  background-color: yellow;
}
